:root {
  --primary-main: #0d6efd;
  --primary-light: #6c9cff;
  --primary-dark: #0044c9;
  --primary-contrast-text: #fff;

  --secondary-main: #ff5200;
  --secondary-light: #ff863c;
  --secondary-dark: #c31200;
  --secondary-contrast-text: #fff;

  --error-main: #f44336;
  --error-light: #e57373;
  --error-dark: #d32f2f;

  --warning-main: #ffa726;
  --warning-light: #ffb74d;
  --warning-dark: #f57c00;

  --info-main: #29b6f6;
  --info-light: #4fc3f7;
  --info-dark: #0288d1;

  --success-main: #66bb6a;
  --success-light: #81c784;
  --success-dark: #388e3c;

  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
